<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\inetpub\wwwroot\erganios\venv\Scripts\python.exe"
                  arguments="-m waitress --listen=127.0.0.1:%HTTP_PLATFORM_PORT% --threads=8 wsgi:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\iis-stdout"
                  startupTimeLimit="120"
                  startupRetryCount="10"
                  requestTimeout="00:05:00">
      <environmentVariables>
        <environmentVariable name="PYTHONUTF8" value="1" />
        <environmentVariable name="PYTHONIOENCODING" value="utf-8" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
